<main class="container">
    <input class="searchbar" placeholder="Search by name...">

    <div class="card-container">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>

        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>

        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>
</main>